{
    "semi": true,
    "singleQuote": true,
    "trailingComma": "es5",
    "tabWidth": 2,
    "useTabs": false,
    "printWidth": 80,
    "jsxSingleQuote": false,
    "arrowParens": "always",
    "bracketSpacing": true,
    "endOfLine": "lf",
    "plugins": [
        "prettier-plugin-tailwindcss"
    ]
}
